---
/* Components */
import SocialLink from "../../components/SocialLink.astro";
/* Icons */
import AngularIcon from "../../icons/Angular.astro";
import CSSIcon from "../../icons/Css.astro";
import DirectionIcon from "../../icons/Direction.astro";
import GithubIcon from "../../icons/Github.astro";
import JavasScriptIcon from "../../icons/JavaScript.astro";
import MongoIcon from "../../icons/Mongo.astro";
import NodeIcon from "../../icons/Node.astro";
import ReactIcon from "../../icons/React.astro";
import TypeScriptIcon from "../../icons/TypeScript.astro";

const tagsColor = {
  react: {
    name: "React",
    class: "bg-black text-white bg-gray-800 text-lg md:text-xl",
    icon: ReactIcon,
  },
  css: {
    name: "CSS",
    class: "text-white bg-blue-900 text-lg md:text-xl",
    icon: CSSIcon,
  },
  javascript: {
    name: "JavaScript",
    class: "bg-black text-white bg-yellow-500/60 text-lg md:text-xl",
    icon: JavasScriptIcon,
  },
  typescript: {
    name: "TypeScript",
    class: "bg-blue-400/70 text-white text-lg md:text-xl",
    icon: TypeScriptIcon,
  },
  angular: {
    name: "Angular",
    class: "bg-red-400 text-white text-lg md:text-xl",
    icon: AngularIcon,
  },
  nodejs: {
    name: "NodeJS",
    class: "bg-green-400/70 text-white text-lg md:text-xl",
    icon: NodeIcon,
  },
  mongo: {
    name: "Mongo DB",
    class: "bg-green-800/70 text-white text-lg md:text-xl",
    icon: MongoIcon,
  },
};

const projects = [
  {
    title: "Totem Autoconsulta Enel",
    description:
      "Proyecto realizado para Enel, con el objetivo de automatizar las consultas de un cliente. Participe en el desarrollo del Front End.",
    link: "",
    frontGithub: "",
    backGithub: "",
    image: "/autoconsulta.png",
    tags: [tagsColor.react, tagsColor.typescript, tagsColor.css],
  },
  {
    title: "Tablero Basket",
    description:
      "Proyecto personal, con el objetivo de aportar una solución a los equipos de baloncesto, para que puedan obtener la puntuación global de su partido.",
    link: "https://alexander-001.github.io/ui-tablero-basket",
    frontGithub: "https://github.com/Alexander-001/ui-tablero-basket",
    backGithub: "https://github.com/Alexander-001/ms-tablero-basket",
    image: "/tablero.png",
    tags: [
      tagsColor.angular,
      tagsColor.css,
      tagsColor.typescript,
      tagsColor.nodejs,
      tagsColor.mongo,
    ],
  },
  {
    title: "PokeApi",
    description:
      "Proyecto personal, con el fin de tener un listado de todos los pokemones junto a sus estadisticas. Fue un proyecto realizado para aprender y entretenerme.",
    link: "https://capable-taiyaki-2f7948.netlify.app",
    frontGithub: "https://github.com/Alexander-001/pokeapifront",
    backGithub: "https://github.com/Alexander-001/pokeapiserver",
    image: "/pokemon.png",
    tags: [
      tagsColor.react,
      tagsColor.css,
      tagsColor.javascript,
      tagsColor.nodejs,
    ],
  },
];
---

{
  projects.map(
    ({ title, description, link, frontGithub, backGithub, image, tags }) => (
      <article class="mb-20">
        <h3 class="text-2xl md:text-4xl font-semibold text-yellow-100 mb-5">
          {title}
        </h3>
        <p class="text-lg md:text-2xl mb-4 text-pretty">{description}</p>
        <ul class="flex gap-x-2 flex-row mb-2 flex-wrap">
          {tags.map((tag) => (
            <li class="mb-5">
              <span
                class={`${tag.class} flex gap-x-2 rounded-full text-sm py-1 px-2`}
              >
                <tag.icon class="size-4 md:size-8" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          class="rounded shadow-2xl shadow-white/10 mt-5"
          src={image}
          alt={`Captura de pantalla del proyecto ${image}`}
        />
        {link && frontGithub && backGithub && (
          <ul class="flex gap-x-2 mt-6 flex-wrap" id="list-link">
            <li>
              <SocialLink href={frontGithub}>
                <GithubIcon class="size-6" id="svg-github" />
                FrontEnd Github
              </SocialLink>
            </li>
            <li>
              <SocialLink href={backGithub}>
                <GithubIcon class="size-6" id="svg-github" />
                Backend Github
              </SocialLink>
            </li>
            <li class="mt-5 md:mt-0">
              <SocialLink href={link}>
                <DirectionIcon class="size-6" />
                Ver proyecto
              </SocialLink>
            </li>
          </ul>
        )}
      </article>
    )
  )
}
